* {
  margin: 0;
  padding: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #242424;
  overflow-x: hidden;
}
.container {
  max-width: 1280px;
}
.rev {
  transform: scaleX(-1);
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.menu-has-children .sub-menu {
  display: none;
}
.menu-has-children:hover .sub-menu {
  display: block;
}
header li a {
  color: #252525;
  font-weight: 500;
}
header li {
  padding: 15px 12px;
}
.sub-menu {
  position: absolute;
  left: 18px;
  top: 45px;
  min-width: 200px;
  border: 1px solid #f5f5f5;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 12px 0;
}
.menu-has-children {
  position: relative;
  margin-right: 19px;
}
.sub-menu li {
  padding: 8px 20px;
  background-color: #fff;
}
.sub-menu ul:before {
  content: "";
  border: 1px solid #f5f5f5;
  background-color: #fff;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -22px;
  left: 19px;
  border-width: 1px 1px 0 0;
  transform: rotate(-45deg);
}
.sub-menu ul {
  position: relative;
}
header ul li a:hover {
  color: #c79e59;
  text-decoration: none;
}
.sub-menu ul li:hover {
  background-color: #f8f9fa;
}
.menu-has-children:after {
  content: "";
  width: 10px;
  min-height: 10px;
  background-image: url("./images/down.svg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: -3px;
  top: 24px;
}
.logo img {
  max-width: 160px;
  width: 100%;
}
.flag img {
  width: 20px;
  height: 11px;
}
.lang span {
  font-size: 12px;
  vertical-align: text-top;
}
.lang:before {
  content: "";
  position: relative;
  top: 6px;
  left: -12px;
  width: 1px;
  height: 23px;
  background-color: #ddd;
  display: inline-block;
}
.flag:after {
  content: "";
  width: 10px;
  min-height: 10px;
  background-image: url("./images/down.svg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: -18px;
  top: 8px;
}
.flag {
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 11;
  border-bottom: 1px solid #dededf;
}
.header-main {
  padding: 19px 0;
}
.banner-image img {
  max-width: 514px;
  width: 100%;
}
h1 {
  font-size: 48px;
}
.banner-content p {
  font-size: 18px;
  color: #919191;
  margin-top: 22px;
}
.banner-content {
  max-width: 390px;
  width: 100%;
}
.btn {
  background-color: #c79e59;
  color: #fff;
  padding: 14px 20px;
  min-width: 230px;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}
.btn:hover {
  color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.banner-button {
  margin-top: 22px;
}
.banner {
  background-color: #f9f9f9;
  position: relative;
  opacity: 0.985;
}
.banner-image {
  margin-left: 41px;
  padding-top: 31px;
}
.banner-content-wrap {
  margin-left: 26px;
}
.banner-content-wrap {
  padding-top: 91px;
  padding-bottom: 138px;
}
h3 {
  font-size: 24px;
  color: #ffffff;
}
.banner-stripe {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #6b5149;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.19),
    0 20px 40px 0 rgba(153, 124, 74, 0.45);
  width: 100%;
  padding: 34px 0 43px;
  margin-top: -70px;
  position: absolute;
  right: 0;
  left: 0;
}
.strip-text {
  max-width: 346px;
  width: 100%;
  padding-left: 60px;
}
.form-control {
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 19px 20px;
}
.form-control:focus {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  box-shadow: none;
}
.form-control::placeholder {
  color: #fff;
}
.contact-pre {
  padding: 19px 20px;
  color: #fff;
  position: relative;
}
.form-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  min-width: 502px;
}
.submit-btn .btn {
  background-color: #4e3b34;
  min-width: 122px;
  padding: 18px 13px;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
}
.submit-btn {
  position: absolute;
  right: 0;
  top: -12px;
}
.enter-input {
  position: relative;
  width: 100%;
}
.contact-pre:after {
  content: "";
  width: 1px;
  height: 32px;
  background-color: #dededf;
  position: absolute;
  right: 0;
  top: 16px;
}
.option span {
  color: #a8a8a8;
  font-size: 0.75rem;
}
.ios-android {
  padding-right: 65px;
}
.ios-android img {
  padding: 0 10px;
}
.ios-android img:first-child {
  padding-left: 0;
}
.ios-android img:last-child {
  padding-right: 0;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  color: #242424;
  line-height: 1.3;
}
.smart-currency {
  margin-top: 135px;
}
.currency-title {
  max-width: 300px;
  width: 100%;
  margin-top: 55px;
}
.currency-content p {
  font-size: 20px;
}
.currency-content {
  max-width: 485px;
  width: 100%;
  margin-top: 11px;
  margin-bottom: 23px;
}
.learn-more a {
  color: #c79e59;
}
.smart-currency .container {
  max-width: 1305px;
  border-bottom: 1px solid #dededf;
  padding-bottom: 70px;
}
.cuurency-image {
  margin-left: 54px;
  max-width: 688px;
  width: 100%;
}
.cuurency-image img {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
}
.invite-section .contact {
  border: 1px solid #dededf;
  border-width: 1px 0px 1px 1px;
  border-radius: 5px;
  margin-top: 18px;
}
.invite-section .submit-btn .btn {
  background-color: transparent;
  border: 1px solid #dededf;
}
.invite-section .submit-btn .btn {
  background-color: transparent;
  border: 1px solid #dededf;
  color: #c79e59;
  border-width: 1px 1px 1px 0;
  height: 64px;
  min-width: auto;
}
.invite-section .submit-btn {
  right: 2px;
  top: -13px;
  border-left: 1px solid #dededf;
}
.invite-section .contact-pre {
  color: #242424;
  padding-left: 8px;
}
.invite-section .form-control::placeholder {
  color: #919191;
}
.invite-section .submit-btn .btn:hover {
  box-shadow: none;
  background-color: #c79e59;
  color: #fff;
}
.sign-up .btn {
  min-width: 155px;
}
.media-body p {
  color: #919191;
}
.media-body {
  max-width: 269px;
  margin-bottom: 33px;
  width: 100%;
}
h5 {
  font-size: 1.25rem;
}
.media img {
  margin-top: 10px;
}
.invite-section .form-wrapper {
  min-width: 398px;
}
.invite-section .form-control {
  padding: 19px 10px;
  color: #919191;
}
.invite-section {
  margin-top: 75px;
}
.sign-up {
  margin-bottom: 30px;
}
.invite-content p {
  color: #212529;
  font-size: 18px;
}
.card-img img {
  max-width: 115px;
  width: 100%;
  margin-bottom: 10px;
}
.card {
  width: 100%;
  max-width: 298px;
  border: none;
}
.offer-title {
  display: flex;
  align-items: center;
}
.offer-title a {
  color: #c79e59;
  margin-left: 20px;
}
.offer-card {
  background-color: #f4f4f4;
  padding: 70px 0 60px;
  margin-top: 86px;
  position: relative;
}
.card-body {
  padding-left: 30px;
}
p.card-text {
  font-size: 14px;
}
.tag p {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 2px 5px;
  text-align: center;
  display: block;
  color: #fff;
  background-color: #919191;
  max-width: 115px;
}
.member-offer {
  display: flex;
  align-items: center;
}
.days-left p {
  color: #919191;
  margin-left: 15px;
}
.card-slider {
  margin-top: 25px;
}
.partner-title {
  margin-top: 72px;
  margin-bottom: 42px;
}
.card-slider .slick-slide {
  padding: 0 10px;
}
button:focus {
  outline: none;
}
button.product-next.slick-arrow,
button.product-prev.slick-arrow {
  border: none;
  background-color: transparent;
  background-image: url("./images/right-slider.svg");
  background-size: cover;
  background-position: center center;
  height: 44px;
  width: 44px;
  margin: 0 5px;
}
button.product-prev.slick-arrow {
  transform: rotate(180deg);
}
button.product-next.slick-arrow:hover,
button.product-prev.slick-arrow:hover {
  background-image: url("./images/hover-arrow.svg");
}
.small-arrow {
  position: absolute;
  top: 70px;
  right: 0px;
}
.offer-title {
  position: relative;
}
.partner {
  position: relative;
}
.partner-small-arrow {
  position: absolute;
  top: 0;
  right: 0;
}
footer .form-control {
  border: 1px solid #c8c8c8;
  padding: 15px 15px;
  height: 48px;
  color: #919191;
  max-width: 207px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
}
footer .form-control:focus {
  border: 1px solid #c8c8c8;
  color: #919191;
}
footer .form-control::placeholder {
  color: #919191;
}
footer {
  background-color: #f4f4f4;
  padding-top: 48px;
  margin-top: 0px;
}
footer h6 {
  font-size: 18px;
  color: #212529;
  margin-bottom: 25px;
}
footer a {
  font-size: 14px;
  color: #242424;
  font-weight: 500;
}
footer a:hover {
  color: #242424;
  text-decoration: none;
}
footer li {
  margin-bottom: 15px;
}
.social-icons li {
  padding: 0 12px;
}
.social-icons li:first-child {
  padding-left: 0;
}
footer .btn {
  background-color: transparent;
  color: #c79e59;
  font-size: 16px;
  border: 1px solid #c8c8c8;
  min-width: 93px;
  position: absolute;
  top: 44px;
  right: 3px;
  height: 48px;
  border-left: 0;
  border-radius: 0 5px 5px 0;
}
.col-md-4.update {
  max-width: 26.2%;
  flex: 0 0 26.2%;
  margin-left: 69px;
}
.social-note p {
  font-size: 14px;
  color: #919191;
}
.social-note {
  max-width: 178px;
  width: 100%;
}
.update .social-note {
  max-width: 290px;
  width: 100%;
  margin-top: 15px;
}
.update .menu-title {
  margin-bottom: 20px;
}
.col-md-2.first-column {
  max-width: 13%;
  flex: 0 0 13%;
}
.col-md-2.account {
  max-width: 13%;
  flex: 0 0 13%;
  margin-left: 75px;
}
footer .btn:hover {
  background-color: #c79e59;
  box-shadow: none;
}

.heading {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
}
.whatsnew {
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: 500;
  color: #242424;
  margin-top: 20px;
}
.marginbottom {
  margin-bottom: 10px;
}
.marginbottom-15 {
  margin-bottom: 15px;
}
.table td,
.table th {
  border-top: 0px;
}

.box {
  height: 171px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #dededf;
}

.boxlogo {
  margin: 30px auto 15px;
  width: 250px;
  height: 80px;
  position: relative;
}
.bnp__row {
  margin: 0 -7.5px;
}
.float {
  float: right;
}
.no-guttersNew {
  text-align: center;
  border: 1px solid #dededf;
  height: 60px;
  font-size: 1.125rem;
  border-radius: 3px;
  background-color: #fff;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.boximg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 160px;
  max-height: 80px;
}
.id {
  text-align: center;
  max-width: 250px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 auto;
  color: #242428;
}
.footerset {
  max-width: 300px;
  width: 100%;
  padding-left: 22px;
}
.footertext {
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
}
.bnp__brnd {
  padding: 0.625rem !important;
}

.bnp__brnd:hover {
  border: 1px solid #c79e59;
}

/* Slider */

.slick-slider {
  position: relative;

  display: block;

  box-sizing: border-box;

  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  -webkit-touch-callout: none;

  -khtml-user-select: none;

  -ms-touch-action: pan-y;

  touch-action: pan-y;

  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;

  overflow: hidden;

  margin: 0;

  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;

  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);

  -moz-transform: translate3d(0, 0, 0);

  -ms-transform: translate3d(0, 0, 0);

  -o-transform: translate3d(0, 0, 0);

  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;

  top: 0;

  left: 0;

  display: block;

  margin-left: auto;

  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;

  float: left;

  height: 100%;

  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
.inpt__box--lg {
  font-size: 1.125rem;
  height: 58px;
  width: 400px;
  padding: 0 15px;
}

.inpt__box {
  background-color: #fbfbfb !important;
  border-radius: 6px;
  border: 1px solid #efefef;
  margin: 10px 0;
  padding: 0 5px;
}
.width--block {
  display: block;
  width: 100% !important;
}
.slct--inline {
  width: 31%;
}
.slct--xxl {
  height: 58px;
  line-height: 58px;
  /* width: 100%; */
}

.slct--cstm {
  /* background-image: url(//i2.lmsin.net/website_images/uat/shukran/ui/common/menu_drop_down_grey.svg); */
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-right: 40px;
  padding-left: 30px;
}

.slct {
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-color: #fbfbfb !important;
  border-radius: 6px;
  border: 1px solid #efefef;
  margin: 5px 0;
  color: #242424;
  font-size: 1.125rem;
}
.slct--cstm {
  padding: 0 17px;
  font-size: 1.125rem;
}

.phnNmbr-div {
  margin-bottom: 10px;
}
.grp--rltv,
.grp__phn {
  position: relative;
}
.phnNmbr-div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.phnNmbr-div {
  max-height: 68px;
}
.bttn--rspnsv {
  /* width: 280px; */
  min-height: 60px;
  text-align: center;
  font-size: 20px;
  padding: 16px 0;
  font-weight: 500;
}
.bttn--ylw {
  color: #fff;
  background-color: #c79e59;
  transition: all 0.5s ease;
}
/* .bttn--xl {
  font-size: 1.25rem;
  padding: 16px;
} */
.bttn--block {
  display: block;
  width: 100% !important;
}
.bttn {
  /* display: inline-block; */
  border-radius: 5px;
  border: 1px solid transparent;
  /* color: #c79e59; */
  /* font-size: 1rem;
  box-sizing: border-box;
  text-align: center; */
  cursor: pointer;
}
